{# templates/lucky/number.html.twig #}
{% extends "base.html.twig" %}

{% block title %}
    Notificacions
{% endblock %}

{# {% block body %}
    <h2>Olá MUNDO</h2>
{% endblock %} #}
{# <body>
    <h1>Your lucky number is {{ number }}</h1> 
</body> #}
